/**
 * BOLG THUMBLINES (PORTFOLIO)
 * Masnory Grid View
 *
 * Developer: Kavan Mevada
 *
 ********************************************************************/
 /* HTML CODE */
/*-------------------------------------------------------------------
<article style="display:inline-block;">
	<div class="thumb-img">
		<a href="#">
			<img width="400" height="267" src="img/14.jpg" alt="DeathtoStock_Creative" />
		</a>
    </div>
    <div class="thumb-content">
        <aside class="post-meta">
            <ul>
                <!--<li>
                    By <a href="#" title="Posts by Kavan Mevada" rel="author"><color>Kavan Mevada</color></a>
                </li>-->
                <li>
                    <a href="#" class="post-time">June 27, 2016</a>
                </li>
            </ul>
        </aside>
        <header class="post-header">
            <h2><a href="#" title="Ice-Bear red and blue">Ice-Bear red and blue</a>
            </h2>
        </header>
        <div class="post-content_oview">
            <p>Ice-Bear red and blue Sed sit amet orci viverra, commodo ante eu, aliquet erat. Proin neque arcu, luctus et vulputate ut, aliquet eu justo. Suspendisse ac feugiat lorem. Etiam dapibus felis eu massa imperdiet, nec euismod elit molestie.</p>
			<a class="read-more" href="#">Continue Reading</a>
		</div>
    </div>
</article>
--------------------------------------------------------------------- */

a {
    color: black;
    text-decoration: none;
}

article {
    position: absolute;
    /*width: 35%;*/
	display: block;
    z-index: 0;
	-webkit-box-shadow: 0px 2px 18px 1px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 2px 18px 1px rgba(0,0,0,0.12);
	box-shadow: 0px 2px 18px 1px rgba(0,0,0,0.12);
    background-color: white;
	
	transition: all 0.3s ease-out;
}

.portfolio-badge {
	position: absolute;
	z-index: 200;
	right: 0;
	height: 50px;
	width: 50px;
}
.portfolio-badge > img {
	width: 100%;
	height: 100%;
}

.thumb-img {
    position: relative;
    margin: 0px;
	background-color: #2e9e75;
	display: block;
	width: 100%;
	height: auto;
    overflow: hidden;
}
.thumb-img:after {
    clear: both;
    content: ' ';
    display: table;
}
.thumb-img:before {
    content: ' ';
    display: table;
}
.thumb-img > a > img:hover {
	opacity: 0.5;
}
.thumb-img > .slider:hover {
	opacity: 1;
}
.thumb-img > a {
    display: block;
}
.thumb-img > a > img {
    display: block;
    width: 100%;
	height: auto;
    vertical-align: middle;
}
    
.thumb-content {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
 }

.post-header {
    margin: 35px 0 15px 0px;
}
.post-header > a > h2 {
    letter-spacing: 1.2px;
	text-transform: uppercase;
}

.post-meta {
    letter-spacing: 1.2px;
	width: 100%;
    padding: 0px;
	margin: 20px 0;
}
.post-meta:after {
    clear: both;
    content: '';
    cursor: default;
    display: block;
}
.post-meta:before {
    content: '';
    cursor: default;
    display: block;
}
.post-meta > ul {
    list-style: none;
	position: relative;
	float: right;
	padding: 0;
	margin: 0;
}
.post-meta > ul > li {
    display: block;
	text-align: right;
}
.post-meta > ul > li > a {
    text-transform: uppercase;
}
color {
	color: green;
}

.post-time {
    text-transform: uppercase;
}
.post-content_oview {
    margin: 0px 0px 10px;
}
.post-content_oview > p {
	text-align: justify;
}
.read-more {
	color: white;
	float: right;
    background: rgb(59, 196, 146) none repeat scroll 0% 0% / auto;
    padding: 5px 20px;
	margin: 30px 0;
}